<template>
  <div id="app" class="container">
    <form @submit.prevent="onsubmit">
      <input
        class="form-control form-control-lg"
        type="text"
        placeholder="Title"
        v-model="title"
      />
    </form>
    <vue-editor
      id="editor"
      class="form-control form-control-legend"
      useCustomImageHandler
      @imageAdded="handleImageAdded"
      v-model="content"
    ></vue-editor>
    <vue-tags-input
      v-model="tag"
      :tags="tags"
      @tags-changed="newTags => (tags = newTags)"
    />
    <button
      class="btn btn-sm btn-primary pull-xs-right"
      v-on:click="saveContent()"
    >
      Draft
    </button>
    <button class="btn btn-sm btn-primary pull-xs-left" onclick="">
      Publish
    </button>
    <button class="btn btn-sm btn-primary pull-xs-middle" onclick="">
      Submit
    </button>
  </div>
</template>

<script>
import { VueEditor } from "vue2-editor";
import VueTagsInput from "@johmun/vue-tags-input";
import { guestAuthorApi, authorApi } from "../store/api";

export default {
  components: {
    VueEditor,
    VueTagsInput
  },
  data() {
    return {
      title: "",
      tag: "",
      tags: [],
      content: ""
    };
  },
  methods: {
    saveContent() {
      console.log(this.content);
      console.log(this.title);
      console.log(this.tags);
    },
    handleImageAdded(file, Editor, cursorLocation) {
      console.log(file);
      console.log(file);
      console.log(Editor);
      console.log(cursorLocation);
      let formData = new FormData();
      formData.append("image", file);
      let axios = null;
      if (this.$route.params.userType === "author") {
        axios = authorApi;
      } else {
        axios = guestAuthorApi;
      }
      axios
        .post("/upload", formData)
        .then(result => {
          console.log(result);
          let url = result.data.url;
          Editor.insertEmbed(cursorLocation, "image", url);
        })
        .catch(err => {
          console.log(err);
        });
    }
  }
};
</script>
<style>
.ql-editor {
  min-height: 424px;
  font-size: 16px;
}
input,
button,
select,
textarea {
  margin: 9px;
  border: -100px solid transparent;
}
.vue-tags-input[data-v-61d92e31] {
  max-width: 100%;
  position: relative;
  background-color: #fff;
}
</style>
