<template>
  <div class="auth-page">
    <div class="container page">
      <div class="row">
        <div class="col-md-6 offset-md-3 col-xs-12">
          <h1 class="text-xs-center">Sign in</h1>
          <p class="text-xs-center">
            <router-link to="/register">Create an account?</router-link>
          </p>
          <div style="min-height: 25%;"></div>
          <ul class="error-messages">
            <li v-for="(error, i) in errors" :key="i">{{ error }}</li>
          </ul>
          <form @submit.prevent="onSubmit">
            <fieldset class="form-group">
              <input
                class="form-control form-control-lg"
                type="text"
                placeholder="Email"
                v-model="email"
              />
            </fieldset>
            <fieldset class="form-group">
              <input
                class="form-control form-control-lg"
                type="password"
                placeholder="Password"
                v-model="password"
              />
            </fieldset>
            <button class="btn btn-lg btn-primary pull-xs-right">
              Sign in
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      email: "",
      password: "",
      errors: []
    };
  },
  methods: {
    onSubmit() {
      const formData = {
        email: this.email,
        password: this.password,
        userType: this.$route.params.userType
      };
      this.errors = [];
      console.log(formData, this.$route.params.userType);
      this.$store.dispatch("login", formData).catch(err => {
        this.errors.push(err);
        console.log(err);
      });
      if (this.errors.length === 0) {
        this.$router.replace({ name: "home" });
      }
    }
  }
};
</script>
