<template>
  <div class="card">
    <img
      src="https://pbs.twimg.com/profile_images/637616679665557504/L7tvXvDf_400x400.jpg"
      alt="John"
      style="width:100%"
    />
    <h1>John Doe</h1>
    <p class="title">CEO & Founder, Example</p>
    <p>Harvard University</p>
    <p>
      <span class="font-icon-fafa">
        <a href="#"><i class="fa fa-linkedin"></i></a>
      </span>
      <span class="font-icon-fafa">
        <a href="#"><i class="fa fa-twitter"></i></a>
      </span>
      <span class="font-icon-fafa">
        <a href="#"><i class="fa fa-facebook"></i></a>
      </span>
    </p>
    <hr />
    <router-link class="nav-link" to="/">Gallery</router-link>
    <hr />
    <router-link class="nav-link" to="/">Edit Profile</router-link>
    <hr />
  </div>
</template>
<script></script>
<style>
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: 1%;
  text-align: center;
}
.font-icon-fafa {
  display: inline-block;
  border: 2px inherit;
  margin: 4px;
}
.title {
  color: grey;
  font-size: 18px;
}
a:hover {
  opacity: 0.7;
}
</style>
