<template>
  <div class="auth-page">
    <div class="container page">
      <div class="row">
        <div class="col-md-6 offset-md-3 col-xs-12">
          <h1 class="text-xs-center">Sign up</h1>
          <p class="text-xs-center">
            <router-link class="nav-link" to="/login">
              Have an account?
            </router-link>
          </p>
          <div style="min-height: 5%"></div>
          <ul class="error-messages">
            <li v-for="(error, i) in errors" :key="i">{{ error }}</li>
          </ul>
          <form @submit.prevent="onSubmit">
            <fieldset class="form-group">
              <input
                class="form-control form-control-lg"
                type="text"
                placeholder="First Name"
                v-model="first_name"
              />
            </fieldset>
            <fieldset class="form-group">
              <input
                class="form-control form-control-lg"
                type="text"
                placeholder="Last Name"
                v-model="last_name"
              />
            </fieldset>
            <fieldset class="form-group">
              <input
                class="form-control form-control-lg"
                type="text"
                placeholder="Email"
                v-model="email"
              />
            </fieldset>
            <fieldset class="form-group">
              <input
                class="form-control form-control-lg"
                type="password"
                placeholder="Password"
                v-model="password"
              />
            </fieldset>
            <fieldset class="form-group">
              <input
                class="form-control form-control-lg"
                type="password"
                placeholder="Confirm Password"
                v-model="confirm_password"
              />
            </fieldset>
            <button class="btn btn-lg btn-primary pull-xs-right">
              Sign up
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { axios } from "../store/api";
export default {
  data() {
    return {
      first_name: "",
      last_name: "",
      email: "",
      password: "",
      confirm_password: "",
      errors: [],
      userType: this.$route.params.userType
    };
  },
  methods: {
    onSubmit() {
      const formData = {
        first_name: this.first_name,
        last_name: this.last_name,
        email: this.email,
        password: this.password,
        confirm_password: this.confirm_password
      };
      console.log(formData);
      axios
        .post(`/${this.$route.params.userType}/register`, formData)
        .then(response => {
          if (response.status === 201) {
            this.$router.replace({
              name: "login",
              params: this.$route.userType
            });
          }
        })
        .catch(error => {
          console.log(JSON.stringify(error.response.data));
          this.errors.push(JSON.stringify(error.response.data));
        });
    }
  }
};
</script>
