<template>
  <footer class="page-footer font-small unique-color-dark pt-4">
    <div class="container">
      <div class="container">
        <div class="row">
          <div class="col col-lg-3">
            <a href="index.html">Staff Login</a>
          </div>
          <div class="col col-lg-3">
            <a href="index.html">Author Login</a>
          </div>
          <div class="col col-lg-3">
            <a href="index.html">Privacy Policy</a>
          </div>
          <div class="col col-lg-3">
            <a href="index.html">Terms & Conditions</a>
          </div>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="footer-copyright text-center py-3">
          © 2019 Copyright:
          <router-link class="nav-link" to="/">
            AuthorS
          </router-link>
        </div>
      </div>
    </div>
  </footer>
</template>
