<template>
  <nav class="navbar navbar-light">
    <div class="container">
      <a class="navbar-brand" href="index.html">AuthorS</a>
      <ul class="nav navbar-nav pull-xs-right">
        <li class="nav-item">
          <!-- Add "active" class when you're on that page" -->
          <router-link class="nav-link" to="/">
            Home
          </router-link>
        </li>
        <li v-if="this.$store.getters.user.userType != null" class="nav-item">
          <router-link
            class="nav-link"
            :to="{ name: profile, params: $store.getters.user.userType }"
          >
            Profile
          </router-link>
        </li>
        <li class="nav-item">
          <router-link
            class="nav-link"
            :to="{ name: 'login', params: { userType: 'guest-author' } }"
          >
            Login
          </router-link>
        </li>
        <li class="nav-item">
          <router-link
            class="nav-link"
            :to="{ name: 'register', params: { userType: 'guest-author' } }"
          >
            Register
          </router-link>
        </li>
        <li class="nav-item" v-if="this.$store.getters.user.userType != null">
          <router-link class="nav-link" onsubmit="this.$store.commit('logOut')">
            Logout
          </router-link>
        </li>
      </ul>
    </div>
  </nav>
</template>
