<template>
  <div id="app">
    <NavBar style="height: 78px"></NavBar>
    <router-view></router-view>
    <Footer></Footer>
  </div>
</template>

<script>
import NavBar from "./components/NavBar.vue";
import Footer from "./components/Footer.vue";
export default {
  components: {
    NavBar,
    Footer
  },
  created() {
    this.$store.dispatch("tryAutoLogin").catch(error => console.log(error));
  }
};
</script>
<style></style>
